/* Hide scrollbar for clean UI */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Smooth behavior */
.slider-track {
    scroll-behavior: smooth;
}

/* Active Dot Styling */
.dot.active {
    background-color: #E7424B;
    width: 24px;
    border-color: #E7424B;
}